$bodyFontColor : #6b717f;
$bodyBackgroundColor: #fff;
$sectionBorderColor: #8C8C8C;
$successBoxColor: green;
$errorBoxColor: red;
$warningBoxColor: orange;
$codeBackgroundColor: #000;
$h3Color: #BF4080;

$generalPadding: 16px;
